@import "tailwindcss";
@plugin "daisyui";

#navUl a.active {
  text-decoration: underline;
  color: #c8833e; 
  font-weight: 600;
}

.my-btn {
  @apply btn w-full bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500
  text-white font-semibold border-none hover:scale-105 transition-transform
  duration-200;
}